html {
        width: 100%;
        height: 100%;
}
body {
        background-color: #1c1917;
        background-image: linear-gradient(#9c213e77 , #1c1917 );
        color: white;
        margin: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
}

body > div
{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
	height: 100%;
	overflow-y: auto;
}

div.itemList
{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
	width: 100%;
	cursor: pointer;
}

div.itemList > div
{
        display: flex;
        align-items: center;
	width: 100%;
	font-size: xx-large;
	height: 100px;
}

div.itemList > div:hover
{
	background: gray;
}

div.itemList > div > img
{
	margin-right: 20px;
	height: 100%;
}

div.itemList > div > span
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

div.vcenter
{
	justify-content: center;
}

iframe#cxfullsys
{
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 20px;
}

div.hidden
{
	display: none;
}
