html {
        width: 100%;
        height: 100%;
}
body {
        background-color: #1c1917;
        background-image: linear-gradient(#9c213e77 , #1c1917 );
        color: white;
        margin: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
}

body > div
{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
	height: 100%;
	overflow-y: auto;
}

div.itemList
{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
	width: 100%;
}

div.clickable
{
	cursor: pointer;
}

div.grayed
{
	filter: grayscale(100%);
	color: gray;
}

div#progress
{
        border: none;
        color: white;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.2);
        margin: 4px 2px;
	width: 50%;
}

div#progressinner
{
        background-color: rgba(0,0,0,0.4);
        height: 34px;
        border-radius: 5px;
        width: 0%;
}

div.itemList > div.game
{
        display: flex;
        align-items: center;
	width: 100%;
	font-size: xx-large;
	height: 100px;
}

div.itemList > div.game:nth-child(odd)
{
	background-color: rgba(0,0,0,0.2);
}

div.itemList > div.game:nth-child(even)
{
	background-color: rgba(0,0,0,0.4);
}

div.itemList > div.clickable:hover
{
	background-color: gray;
}

div.itemList > div > img
{
	margin-right: 20px;
	height: 100%;
	aspect-ratio: 1.67;
	object-fit: contain;
}

div.itemList > div > span
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

div.vcenter
{
	height: 100%;
	justify-content: center;
}

iframe#cxfullsys
{
	position: fixed;
	width: 100%;
	height: 100%;
	margin: 20px;
}

div.hidden
{
	display: none;
}

a
{
	color: #4682B4;
}

a:visited
{
	color: #4682B4;
}
